# Changes from v10
* Using sentence tokenize as an initial pass in order to try and filter to the most pertinent information


# Import the MIMIC data

In [38]:
import gzip
import pandas as pd
import glob

dataset_dictionary = {}

for file_path in glob.glob('.\\Data\\MIMIC Files\*'):
    file_name = file_path.split('\\')[3].split('.')[0]
    with gzip.open(file_path, mode='r') as file:
        dataset_dictionary[file_name] = pd.read_csv(file)

c:\users\amartins\onedrive - intermountain healthcare\python_pycharm_virt_env\.venv\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (4,5,7,11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\users\amartins\onedrive - intermountain healthcare\python_pycharm_virt_env\.venv\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

# Join the tables

In [39]:
# Create dataset to join together -----

# Create note_events table -----

# Combine text for each subject and encounter
note_events_base = dataset_dictionary['NOTEEVENTS'][dataset_dictionary['NOTEEVENTS'].loc[:,'CATEGORY'] == 'Discharge summary']
note_events = note_events_base.groupby(['SUBJECT_ID', 'HADM_ID'], as_index=False)['TEXT'].agg(sum)

# Create CPT table -----

cpt_events_base = dataset_dictionary['CPTEVENTS']
cpt_events_base = cpt_events_base[cpt_events_base['TICKET_ID_SEQ'] == 1]
cpt_events_base = cpt_events_base.loc[:, ['SUBJECT_ID','HADM_ID', 'CPT_CD']]
cpt_events = cpt_events_base.drop_duplicates()
cpt_events

# Join the datasets -----

note_cpt = note_events.merge(cpt_events, on = ['SUBJECT_ID','HADM_ID'])
# print(note_cpt.shape, note_events.shape, cpt_events.shape) # (223,150, 4) (52,726, 3) (227,510, 3)

# Filter the data to CPT over 200 samples + Resample

In [150]:
import numpy as np
from sklearn.utils import resample

# Value Counts
print(note_cpt['CPT_CD'].astype(str).value_counts())

# Filter to CPT with over 200 notes
df = note_cpt['CPT_CD'].astype(str).value_counts()
top_200 = list((df[df > 200]).index.values)
note_cpt_4 = note_cpt[note_cpt['CPT_CD'].astype(str).isin(top_200)]

# Resample minority groups -----

# Remove largest group
top_200.remove('99291')
'99291' in top_200

# minority_ls = top_200
minority_ls = ['99223','99222','99254']

minority_df = []
for i in minority_ls:
    test_resampled = resample(note_cpt[note_cpt['CPT_CD'].astype(str) == i], replace=True, n_samples=7860, random_state=123)
    minority_df.append(test_resampled)

minority_df.append(note_cpt[note_cpt['CPT_CD'].astype(str) == '99291'])
new_df = pd.concat(minority_df)

new_df['CPT_CD'] = new_df['CPT_CD'].astype(str)

99291    7860
99223    2851
99222    1736
99254    1242
99255     882
         ...
62272       1
50547       1
53215       1
39561       1
63082       1
Name: CPT_CD, Length: 707, dtype: int64

# Check for Imbalance

In [92]:
# import matplotlib.pyplot as plt

# plt.hist(note_cpt['CPT_CD'].astype(str))
# plt.show()

new_df['CPT_CD'].value_counts()

99291    7860
99222    7860
99254    7860
99223    7860
Name: CPT_CD, dtype: int64

# Sentence tokenizer to restructure dataframe

In [151]:
from nltk.tokenize import sent_tokenize

# pd.concat([test['column 1'].str.split(',', expand=True), test['predictive column']], axis=1).melt(id_vars='predictive column').drop('variable', axis=1)

# Source: https://stackoverflow.com/questions/33098040/how-to-use-word-tokenize-in-data-frame

def expand_dataframe_by_sent(dataframe, text_col_name, pred_col_name):
    
    # # Step 1: Remove all commas
    dataframe[text_col_name] = dataframe[text_col_name].str.replace(',',' ')

    # # Step 2: Sentence tokenize and convert into a large string
    dataframe[text_col_name] = dataframe.apply(lambda row: sent_tokenize(row[text_col_name]), axis=1)

    # # Step 3 + 4: Split into columns & concatenate with original data
    updated_df = pd.concat([dataframe[text_col_name].astype(str).str.split(',', expand=True), dataframe[pred_col_name]], axis=1).melt(id_vars=pred_col_name, value_name=text_col_name).drop('variable', axis=1)
    
    updated_df.dropna(inplace=True)
    
    return updated_df

x = expand_dataframe_by_sent(new_df.iloc[0:5,:], 'TEXT', 'CPT_CD')
x

<ipython-input-151-5e91ba314e0b>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[text_col_name] = dataframe[text_col_name].str.replace(',',' ')
<ipython-input-151-5e91ba314e0b>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[text_col_name] = dataframe.apply(lambda row: sent_tokenize(row[text_col_name]), axis=1)

    CPT_CD                                               TEXT
0    99223  ['Admission Date:  [**2155-4-15**]            ...
1    99223  ['Admission Date:  [**2173-5-7**]             ...
2    99223  ['Admission Date:  [**2176-9-22**]            ...
3    99223  ['Admission Date:  [**2173-5-18**]            ...
4    99223  ['Admission Date:  [**2116-5-14**]            ...
..     ...                                                ...
728  99223   'Their phone number is\n[**Telephone/Fax (1) ...
733  99223   'Please call if you need to change your\nappo...
738  99223                                           '??????'
743  99223   'No follow up is needed with the liver doctors.'
748  99223                    'Completed by:[**2173-5-29**]']

[571 rows x 2 columns]

In [152]:
?pd.DataFrame.dropna

In [55]:
# test = note_cpt['TEXT'][9752]
# test = pd.Series(test)

# test = test.str.replace(':', ' ')
# test.str.replace('s(?=\s)', ' ', regex=True)[0]

# from nltk.tokenize import sent_tokenize

# x = sent_tokenize(test.str.replace('s(?=\s)', ' ', regex=True)[0])
# for i in x:
#     print(i)
# pd.Series([x]).str.replace('\[\*\*(.*?)\*\*\]', ' ', regex=True)

# new_df['']

# for i, x in new_df.iloc[0:1,:].iterrows():
#     print('This is i',i)
#     print(x['TEXT'])
['HI'].lower()

AttributeError: 'list' object has no attribute 'lower'

# Filter the data

In [23]:
import string

def clean_data(text_series):
    
    # Replace \n 
    text_series = text_series.str.replace('\\n',' ', regex=True)    

    # Remove dates and locations
    text_series = text_series.str.replace('\[\*\*(.*?)\*\*\]', ' ', regex=True)
    
    # Remove topics
    data = text_series.str.split('([A-Z\s]+:)')
    for row_num, value in enumerate(data):
        text_chunks = [x.strip().replace(':','').replace('\n', '') for x in value]
        for i, x in enumerate(text_chunks):
            if 'MEDICATION' in x or 'SOCIAL HISTORY' in x or 'FAMILY HISTORY' in x:
                text_chunks[i] = ' '
                try:
                    text_chunks[i + 1] = ' '
                except:
                    continue

        text_series.iloc[row_num] = ' '.join(text_chunks)
    
    # Replace punctuation
    text_series = text_series.str.replace('[' + string.punctuation + ']', ' ', regex=True)
    
    # Convert to lowercase 
    text_series = text_series.str.lower()
    
    # Remove all digits
    text_series = text_series.str.replace('\d',' ', regex=True)
    
    # Replace plurals, endings with ing, endings with ed, endings with ly
    text_series = text_series.str.replace('s(?=\s)', ' ', regex=True)
    text_series = text_series.str.replace('ing(?=\s)', ' ', regex=True)
    text_series = text_series.str.replace('ed(?=\s)', ' ', regex=True)
    text_series = text_series.str.replace('ly(?=\s)', ' ', regex=True)
    
    return text_series

# Update Text Column

new_df.loc[:, 'TEXT'] = clean_data(new_df['TEXT']).values

In [32]:
sent_tokenize(new_df.iloc[0,2])

['admission date                 discharge date      date of birth                sex   m  service medicine  allergie  patient record  a  hav  no known allergie  to drug   attend   chief complaint jaundice  major surgical or invasive procedure   intubation  history of present illnes     yo m w  afib  htn p w jaundice and itch   symptom  start    wk  back  he notic  increas  itch  all over  yesterday he had a f u appt w  hi  card  dr   where they notic  that he wa  jaundic   he wa  sent to the   where abd u  show    cm pancreatic mas  and elevat  lft   tbili     with alk pho          pt also c o swell  in leg  for past   wk   he denie  pain in abd n v constipation abd distention  he ha  been suffer  from diarrhea for past   wk  and thought it to be d t lactyose intolerance  he say  it improv  after stopp  the milk product   he he lost    lb  and then gain    lb  over past   yr  the wt los  wa  intentional  hi  appetite i  fine  no insomnia  mood fine  denie  f c c  denie  cp  sob  dizzines   palpitation   he wa  admitt  to   on    he had a ct abd that show  a mark  bilary dilation without definitive mas  in the pancrea  seen  he wa  referr  for   on   but the procedure wa  not tolerat  well  he wa  brought back to   to be done under general anesthesia on    the procedure show  irregular malignant appear  high grade stricture in the distal cbd measur      cm  sphincterotomy and biliary stent placement were done  cytology brush   were taken  in the pacu he develop  acute shortnes  of breath and hypoxia  heart rate  were          per note   he had mild wheeze and bronchial breath sound   he wa  intubat  with etomidate succinylcholine  vital sign  post intubation were               ra  he dropp  hi  blood pressure requir  neosynephrine gtt     past medical history cad  mi in   echo show  old ipmi  stres  echo in   show  no e o ischemia  afib diagnos      underwent dccv in    now back in afib  htn obesity gout hypothyroidism shrapnel in hi  face dur  wwii   p removal   social history he i  a widow with two daughter     i  retir   quit smok     yr  back  smok  for   yr  quit etoh   yr  back  wa  a social drinker    fami  history no h o ca  cad  dm  physical exam                      ra f     nad heent icteru     no lad  mm chest ctabl heart rrr  no m r g  nl       abd soft  nt  obese  but no recent change per pt   b    extr    pitt  edema neuro no focal deficit  no asterixi    pertinent result  see attach  lab result  and   report  impression   normal major papilla   cannulation of the biliary duct wa  perform  with a sphincterotome us  a free hand technique    cholangiogram show  a irregular malignant appear  high grade stricture in the distal cbd measur      cm  the bile duct proximal to the stricture appear  dilat     a sphincterotomy wa  perform  in the    o clock position us  a sphincterotome over an exist  guidewire    cytology sample  were obtain  for histology us  a brush at the cbd stricture    a  cm by   f cotton   biliary stent wa  plac  successful  acros  the biliary stricture  micro stool  c diff negative x   all culture  without growth  cytology of biliary stricture atypical cell   brief hospital course   biliary obstruction  resolv  with   placement of stent  obstruction appear  malignant  concern  for possible pancreatic v cholangiocarcinoma   cytology inconclusive but ca      elevat    gi team i  concern  that pt would not like  tolerate more aggressive biopsy   they are consider  do  an endoscopic ultrasound with biopsy in the future and will take further brush   which they discus  with daughter       follow up   for biliary stent change in    schedul     hypoxic respiratory failure requir  intubation after    cause undetermin   no h o chf but some improvement with neb  and diurese   pt also had episode  of rapid af and so it wa  consider  that possib  thi  had caus  acute chf or aspiration give occurr  just after     continue neb   on corgard for many year  at home   cxr without pneumonia  did  have small b l pleural effusion   wa  in the icu  extubat         af pt ha  been on corgard for many year  which he ask  to continue rather than lopressor which wa  suggest    coumadin restart    at hi  home dose   thi  ne   to be held for one week prior to         hypotension   shock thi  occur  short  after   and resp failure requir  intubation   sepsi  wa  consider  given   manipulation   culture  neg  course of levofloxacin and flagyl       loose stool     set  c  diff toxin negative    medication  on admission cozaar   mg dai  nadolol   mg dai   wa  on lopressor in past but d c   a  fatigue wa  a e   aspirin   mg dai  warfarin  mg dai  lovastatin   mg dai  niaspan   tablet at bedtime triamterene mwf   discharge medication     heparin  porcine        unit ml solution sig             u injection tid    time  a day  until inr         ipratropium bromide        solution sig one     treatment inhalation q h  every   hour   a  need      warfarin   mg tablet sig one     tablet po dai     once dai  at     check dai  inr  adjust a  need      levofloxacin     mg tablet sig one     tablet po q  h  every    hour   for   day      metronidazole     mg tablet sig one     tablet po tid    time  a day  for   day      corgard    mg tablet sig one     tablet po once a day pt wa  on   mg per day at home  titrate up a  possible     cozaar    mg tablet sig one     tablet po once a day hold for sbp           aspirin    mg tablet sig one     tablet po once a day     niaspan     mg tablet sustain  release sig one     tablet sustain  release po at bedtime      triamterene    mg capsule sig one     capsule po every other day    discharge disposition extend  care  facility        discharge diagnosi  biliary obstruction  stricture on bile duct cad af htn hypothyroid   discharge condition stable   discharge instruction  please contact the doctor at the rehab with any worsen  abdominal pain  fever   or other concern  symptom    followup instruction  pt ne   to return to have hi  biliary stent replac  in    also  the pathology of the biliary stricture wa  inconclusive and so he may ne  further biopsy  thi  will be discuss  by dr    team with the fami   provider      md phone  date time      provider      st    gi room  date time      dr    office will contact your daughter  regard  additional follow up if need                                      md    complet  by']

# Shuffle the Data

In [100]:
new_df = new_df.sample(n = len(new_df), random_state = 42)

# Split the Data

In [101]:
# Import Packages -----

from nltk.corpus import stopwords

my_stop_words = list(set(stopwords.words('english'))) \
                + ['admission', 'date', 'sex'] \
                + ['needed', 'every', 'seen', 'weeks', 'please', 'ml', 'unit', 'small', 'year', 'old', 'cm', 'non', 'mm', 'however']
                # Got the above from my top 100 most predictive words that I wanted to remove

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

# Split the data -----

X_train, X_test, y_train, y_test = train_test_split(new_df['TEXT'].values, new_df['CPT_CD'].astype(str), test_size = .33, random_state = 42)

# Tokenize the data

In [102]:
# Tokenize the data -----

# Import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(stop_words=my_stop_words, min_df = 3, max_df = .7, sublinear_tf=True)

# Transform the training data
tfidf_train = tfidf_vectorizer.fit_transform(X_train)

# Transform the test data
tfidf_test = tfidf_vectorizer.transform(X_test)

# Run Naive Bayes

In [103]:
# Use Naive Bayes model -----

from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics

nb_classifier = MultinomialNB(alpha=.7)

# Fit and check accuracy
nb_classifier.fit(tfidf_train, y_train)
pred = nb_classifier.predict(tfidf_test)

# Tune NB Model

In [18]:
import numpy as np


def hyperparam_tuning(tfidf_train, y_train, tfidf_test, y_test, nb_classifier):
    for i in np.arange(0,1.1,.1):
        nb_classifier = MultinomialNB()
        nb_classifier.fit(tfidf_train, y_train)
        pred = nb_classifier.predict(tfidf_test)
        print(i)
        print(metrics.accuracy_score(y_test, pred))

hyperparam_tuning(tfidf_train, y_train, tfidf_test, y_test, nb_classifier)  

# Looks like .6-.7 are the best alpha

0.0
0.421076621541547
0.1
0.421076621541547
0.2
0.421076621541547
0.30000000000000004
0.421076621541547
0.4
0.421076621541547
0.5
0.421076621541547
0.6000000000000001
0.421076621541547
0.7000000000000001
0.421076621541547
0.8
0.421076621541547
0.9
0.421076621541547
1.0
0.421076621541547

# Run Logistic Regression

In [38]:
from sklearn.linear_model import LogisticRegression

clf_logist = LogisticRegression(C=.001, random_state = 42, multi_class = 'multinomial', penalty='l2')
clf_logist.fit(tfidf_train, y_train)
logist_pred = clf_logist.predict(tfidf_test)

c:\users\amartins\onedrive - intermountain healthcare\python_pycharm_virt_env\.venv\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

# Looking at Feature Names and Weights

In [95]:
# Notes
# sum([np.exp(1)** x for x in nb_classifier.coef_[0]]) # The probability of all the words equals one
# # Taken from here: * https://stackoverflow.com/questions/61586946/how-to-calculate-feature-log-prob-in-the-naive-bayes-multinomialnb

# ------------------------------------------

import numpy as np

def get_feature_rank(tfidf_vectorizer, y_no, nb_classifier):
    
    # Get the feature names
    feature_names = tfidf_vectorizer.get_feature_names()

    # Zip together the first CPT weights with feature names
    feat_with_weights =  sorted(zip(nb_classifier.coef_[y_no], feature_names))
    
    # Print words most responsible for the prediction
#     print('Top 100 \n\n\n\n')
#     top_100_ls = []
    for i in range(100):
        x = feat_with_weights[-i-1]
#         top_100_ls.append(x[1])
#         print(nb_classifier.classes_[y_no], i, round((np.exp(1) ** x[0]),4), x[1])

#     print('\n\n\n\n Bottom 100 \n\n\n\n')
    for i in range(100):
        x = feat_with_weights[i]
#         print(nb_classifier.classes_[y_no], i, round((np.exp(1) ** x[0]),4), x[1])
    
#     min_weight = min([i[0] for i in feat_with_weights])
    
    x = [i[0] for i in feat_with_weights]
    
    median_pred = np.median(x)
          
    return [i[1] for i in feat_with_weights if i[0] <= median_pred] # Minimum weight words
#     return top_100_ls

# Find the least predictive words
def least_pred_words(nb_classifier, tfidf_vectorizer):
    low_wt_stop_ls = []

    for i in range(len(nb_classifier.classes_)):
        low_wt_stop_ls += get_feature_rank(tfidf_vectorizer, i, nb_classifier)

    low_wt_stop_ls = list(set(low_wt_stop_ls))
    return low_wt_stop_ls
    
low_wt_stop_ls = least_pred_words(nb_classifier, tfidf_vectorizer)

# Find top 100 words - doesn't seem to improve the model
def highest_pred_words(nb_classifier, tfidf_vectorizer):
    top_100_ls = []
    for i in range(len(nb_classifier.classes_)):
        top_100_ls += get_feature_rank(tfidf_vectorizer, i, nb_classifier)

    top_100_ls = list(set(top_100_ls))
    return top_100_ls

33442

# Update stop words and tokenize again

In [96]:
my_stop_words += low_wt_stop_ls

tfidf_vectorizer = TfidfVectorizer(stop_words=my_stop_words, min_df = 3, max_df = .7, sublinear_tf=True)

# Transform the training data
tfidf_train = tfidf_vectorizer.fit_transform(X_train)

# Transform the test data
tfidf_test = tfidf_vectorizer.transform(X_test)

# Create Vocab with top words and tokenize again

In [ ]:
# It reduced test accuracy back to 43% and training went from 50% to 44%

tfidf_vectorizer = TfidfVectorizer(vocabulary=top_100_ls, stop_words=my_stop_words, min_df = 3, max_df = .7, sublinear_tf=True)

# Transform the training data
tfidf_train = tfidf_vectorizer.fit_transform(X_train)

# Transform the test data
tfidf_test = tfidf_vectorizer.transform(X_test)

# Run Naive Bayes again

In [97]:
# Use Naive Bayes model -----

from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics

nb_classifier = MultinomialNB(alpha=.7)

# Fit and check accuracy
nb_classifier.fit(tfidf_train, y_train)
pred = nb_classifier.predict(tfidf_test)

# Classification Report

In [104]:
# Create classification report taken from here: https://towardsdatascience.com/multi-class-text-classification-model-comparison-and-selection-5eb066197568
from sklearn.metrics import classification_report

print('Test')
class_labels = nb_classifier.classes_
print(classification_report(y_test, pred,target_names=class_labels))

print('Training')
pred_x = nb_classifier.predict(tfidf_train)
print(classification_report(y_train, pred_x,target_names=class_labels))

Test
              precision    recall  f1-score   support

       99222       0.49      0.59      0.54      2541
       99223       0.61      0.34      0.44      2611
       99254       0.69      0.56      0.62      2606
       99291       0.47      0.66      0.55      2618

    accuracy                           0.54     10376
   macro avg       0.56      0.54      0.54     10376
weighted avg       0.56      0.54      0.54     10376

Training
              precision    recall  f1-score   support

       99222       0.53      0.62      0.57      5319
       99223       0.68      0.41      0.51      5249
       99254       0.72      0.61      0.66      5254
       99291       0.51      0.70      0.59      5242

    accuracy                           0.58     21064
   macro avg       0.61      0.58      0.58     21064
weighted avg       0.61      0.58      0.58     21064

In [99]:
metrics.accuracy_score(y_test, pred)

# """
# V1 NLP Model Accuracy: 0.117
# Wow, I've got a long way to go to improve accuracy
# V2 NLP Model Accuracy: 0.14
# V3 NLP Model Accuracy: .40
# """

# Confusion matrix 
# confusion_mtrx = metrics.confusion_matrix(y_test.astype(str), pred) # 1380, 1380
# confusion_mtrx

0.44368476229545556

In [39]:
# Logistical Model accuracy
metrics.accuracy_score(y_test, logist_pred)
# .39

0.3560782168740599

# Vectorize Test

In [84]:
from sklearn.feature_extraction.text import CountVectorizer

vocab = ['love', 'happy', 'run']
count_vectorizer = CountVectorizer(vocabulary = vocab)
x = count_vectorizer.fit_transform(['happy', 'run', 'run', 'run'])
print(x)

  (0, 1)	1
  (1, 2)	1
  (2, 2)	1
  (3, 2)	1

# Splitting out a list in a DataFrame

In [60]:
import pandas as pd

test = pd.DataFrame({'column 1':['The other day, I saw a bear, A great big bear',2,3], 'predictive column':[1,2,3]} )
test['column 1'].str.split(',', expand=True)
# pd.concat([test['column 1'].str.split(',', expand=True), test['predictive column']], axis=1).melt(id_vars='predictive column').drop('variable', axis=1)

               0              1                  2
0  The other day   I saw a bear   A great big bear
1            NaN            NaN                NaN
2            NaN            NaN                NaN